@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>
        <ul class="list-unstyled">
            <li class="font-weight-bold">
                Ogólne zasady przyjmowania plików do druku
            </li>
            <li>
                Dane przyjmujemy w formie elektronicznej za pośrednictwem tej strony.
            </li>
            <li>
                Wszystkie przekazywane do druku materiały najlepiej spakować RAR'em.
            </li>
            <li class="font-weight-bold">
                Rekomendowanym formatem plików jest PDF
            </li>
            <li>
                (akceptujemy również TIFF, JPG, CDR)
            </li>
        </ul>
    </p>
</div>