@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>
    <ul class="list-unstyled">
        <li class="font-weight-bold">1. Postanowienia ogólne</li>
        <li>
            1.1  Niniejsza  polityka  prywatności  określa  zasady  ochrony  informacji  poufnych  dotyczących Użytkowników,  w  tym  danych  osobowych,  przez  administratora  tych  danych,  czyli  podmiot prowadzący Stronę zwany dalej Sprzedawcą.
        </li>
        <li>
            1.2  Na  potrzeby  interpretacji  niniejszego  dokumentu  zastosowanie  znajdują  definicje  ujęte  w Regulaminie Strony.
        </li>
        <li>
            1.3  Prowadząc  Stronę  Administrator  dokłada  szczególnych  starań  w  celu  ochrony  praw Użytkowników,  w  szczególności  w  zakresie  ochrony  prywatności  i  ochrony  informacji przekazanych  Sprzedawcy  i  dotyczących  Użytkowników.  Informacje  te  (w  tym  dane  osobowe Użytkowników) są należycie zabezpieczane, a formularze internetowe służące do przesyłania tych informacji  są  chronione  protokołem  bezpieczeństwa  SSL,  dzięki  czemu  proces  przekazywania danych  jest  szyfrowany.  Przetwarzając  dane  osobowe  Użytkowników  Administrator  zwraca szczególną  uwagę  na  to,  aby  dane  te  były  chronione  przed  ich  udostępnieniem  osobom nieupoważnionym,  zabraniem  przez  osobę  nieuprawnioną,  przetwarzaniem  z  naruszeniem obowiązujących przepisów prawa oraz ich zmianą, utratą, uszkodzeniem lub zniszczeniem.
        </li>
        <li class="font-weight-bold">2. Dane osobowe</li>
        <li>
            2.1 Podczas korzystania ze Strony, Użytkownik może zostać poproszony o podanie swoich danych osobowych, niezbędnych do świadczenia usług przez Sprzedawcę:
            <ul class="list-unstyled ml-3">
                <li>
                    a.  podczas rejestracji na Stronie (imię i nazwisko lub nazwa firmy, adres, nr telefonu, adres e-mail)
                </li>
                <li>
                    b.  przy wyrażeniu chęci korzystania z usługi Newslettera (adres e-mail),
                </li>
                <li>
                    c.  przy składaniu zamówienia (imię i nazwisko lub nazwa firmy, adres dostawy, nr telefonu, adres e-mail)
                </li>
            </ul>
        </li>
        <li>
            2.2 Podanie jakichkolwiek danych osobowych przez Użytkownika jest dobrowolne. Podanie danych wymienionych pkt.2.1. jest konieczne w celach określonych w pkt.2.4.
        </li>
        <li>
            2.3 Użytkownicy mogą przeglądać Stronę oraz podstawowe informacji bez uprzedniej rejestracji oraz podawania danych osobowych.
        </li>
        <li>
            2.4  Dane  osobowe  Użytkowników  będących  osobami  fizycznymi  (w  tym  osobami  fizycznymi prowadzącymi jednoosobową  działalność gospodarczą) będą przetwarzane przez Sprzedawcę jako administratora danych osobowych w celu świadczenia usług przez Sprzedawcę za pośrednictwem Strony,  jak  również  w  celach  marketingowych  związanych  z  funkcjonowaniem  Strony,  w  tym dotyczących usług i towarów prezentowanych na Stronie. Przetwarzanie zbieranych danych odbywa się zgodnie z przepisami ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych i ustawy z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną. Podanie przez Użytkownika swoich danych osobowych jest dobrowolne.
        </li>
        <li>
            2.5  Dane  osobowe  Użytkownika  mogą  być  udostępniane  podmiotom  uprawnionym  do  ich otrzymania  na  mocy  obowiązujących  przepisów  prawa,  w  tym  właściwym  organom  wymiaru sprawiedliwości. Dane osobowe Użytkowników  mogą być także przekazywane lub ujawniane  –  w niezbędnym  i  wymaganym  zakresie  -  podmiotom  trzecim,  w  tym  podmiotom  wykonującym  na zlecenie  Sprzedawcy  czynności  związane  z  zawartą  z  Nabywcą  Umową,  m.  in.  operatorom obsługującym  płatności  elektroniczne  z  tytułu  zawieranych  Umów  lub  podmiotom  realizującym dostawy  zamówionych  towarów.  Dane  osobowe  Użytkowników  (w  tym  ich  adresy  e-mail)  mogą być także ujawniane przez Sprzedawcę firmie  INTERNETICA   w związku z prowadzeniem Strony przez Sprzedawcę, w tym w związku z wykonywaniem przez INTERNETICA na rzecz Sprzedawcy czynności  wynikających  z  umowy  pomiędzy  Sprzedawcą  a  INTERNETICA,  umożliwiającej Sprzedawcy korzystanie z narzędzi służących do prowadzenia Strony.
        </li>
        <li>
            2.6 Administrator zapewnia Użytkownikom, których dane osobowe przetwarza, realizację uprawnień wynikających z ustawy  o ochronie danych osobowych, w tym prawa dostępu do treści własnych danych  osobowych  i  ich  poprawiania  oraz  prawa  do  kontroli  przetwarzania  własnych  danych osobowych na zasadach opisanych w przedmiotowej ustawie.
        </li>
        <li>
            2.7 W ramach realizacji prawa do kontroli przetwarzania własnych danych osobowych, Użytkownik ma  w  szczególności  prawo  do  wniesienia  pisemnego,  umotywowanego  żądania  zaprzestania przetwarzania jego danych ze względu na jego szczególną sytuację, a także wniesienia sprzeciwu wobec  przetwarzania  jego  danych,  gdy  Administrator  przetwarza  je  gdy  jest  to  niezbędne  dla wypełnienia  prawnie  usprawiedliwionych  celów  realizowanych  przez  Sprzedawcę  lub  gdy Administrator  zamierza  je  przetwarzać  w  celach  marketingowych,  lub  wobec  przekazywania  przez Sprzedawcę danych osobowych Użytkownika innemu niż Administrator administratorowi danych.
        </li>
        <li>
            2.8  Poufne  informacje  dotyczące  Użytkowników,  w  tym  dane  osobowe  Użytkowników  są chronione przez Sprzedawcę przed ich udostępnieniem osobom nieupoważnionym, a także innymi przypadkami ich ujawnienia albo utraty oraz przed zniszczeniem lub nieuprawnioną modyfikacją wskazanych danych oraz informacji poprzez stosowanie odpowiednich zabezpieczeń technicznych i organizacyjnych.
        </li>
    </ul>
</p>