@model Magenta.Models.Designs

@{
    ViewData["Title"] = "Create design";
}

<h1>Create design</h1>

<h4>Designs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateDesigned" class="control-label"></label>
                <input asp-for="DateDesigned" class="form-control" />
                <span asp-validation-for="DateDesigned" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Accepted" /> @Html.DisplayNameFor(model => model.Accepted)
                </label>
            </div>
            <div class="form-group">
                <label for="file-upload" class="btn btn-magenta">
                    Upload File
                </label>
                <span id="file-upload-filename"></span>
                <input id="file-upload" type="file" name="postedFiles" class="d-none" multiple />
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DesignedBy" class="control-label"></label>
                <select asp-for="DesignedById" class="form-control" asp-items="ViewBag.DesignedById"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-magenta" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
