/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #7d7d7d;
}

.btn-magenta {
    color: white;
    background-color: #ca1367;
    border-color: #7d7d7d;
}

.btn-magenta:hover {
    color: white;
    background-color: #a1115f;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #ca1367;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7d7d7d;
    background-color: #ca1367;
    border-color: #7d7d7d;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1420px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1900px;
    }
}

.form-control{
    max-width: 30%;
}

.border-top {
    border-top: 1px solid #7d7d7d;
}
.border-bottom {
    border-bottom: 1px solid #7d7d7d;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: #3d3d3d;
    color: #7d7d7d;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #3d3d3d;
    color: #7d7d7d;
}

header {
    background-color: #212121;
    color: #7d7d7d;
}

.nav-link {
    color: #7d7d7d;
    font-weight:bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #212121;
}

.text-magenta {
    color: #f15ea1;
}

.bg-darkgrey {
    background-color: #212121;
}

.sidebar {
    float: left;
    width: 15%;
    padding: 20px;
    background-color: #353535;
}

#content {
    float:left;
    width: 75%;
}